<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New form </title>
</head>
<body>
    <h1> Add a new Farm</h1>
    <form action="/farms" method="POST">
        <div>
        <label for="name">farm Name</label>
        <input type="text" name="name" id="name" placeholder="farm name">
    </div>
    <div>
        <label for="city">city Name</label>
        <input type="text" name="city" id="city" placeholder="city name">
    </div>
    <div>
        <label for="gmail">Gmial</label>
        <input type="email" name="email" id="gmail" placeholder="farm gmail">
    </div>
        
        <button>Submit</button>
    </form>
</body>
</html>